<%- include ('./layouts/header') %> 

    <div class="container">
        <% if (images.length == 0) { %>
            <div class="alert alert-danger fade show mb-5 mt-5" role="alert">
                Sorry, No image to show! Please upload at least one image.
            </div>
        <% }else{ %>
            <div class="bd-example-snippet bd-code-snippet"><div class="bd-example">
                <div class="row row-cols-1 row-cols-md-4 g-4">
                    <% images.forEach(function(image){ %>
                        <div class="col">
                            <div class="card">
                            <img src="<%= image.thumbnail_path %>" width="auto" height="auto">
                            <div class="card-body">
                                <form action="/<%= image.file_name %>" method="POST">
                                <h5 class="card-title text-truncate mb-2"><%= image.original_name %></h5>
                                <p class="card-text text-truncate mb-3"><%= image.uploaded_at %></p>
                                <a href="/<%= image.file_name %> " class="btn btn-outline-primary"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    <input type="hidden" name="filename" value="<%= image.file_name %>" />
                                    <button class="btn btn-outline-danger float-end" type="submit"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                </form>
                            </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
            
        <% } %>
    </div>

<%- include ('./layouts/footer') %> 

